.tweet-button {
  background-color: rgb(29, 155, 240);
  font-weight: bold;
  font-size: 15px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 18.25px;
  border: none;
  cursor: pointer;

  transition: box-shadow 0.15s,
  opacity 0.15s;
}

.tweet-button:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
  opacity: 0.7;
}