p {
  font-family: Arial;
  margin: 0;
  margin-bottom: 4px;
}

.profile-picture-container {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
}

.profile-picture {
  width: 100%;
  border-radius: 50px;
}

.profile-info-container {
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}

.username {
  font-weight: bold;
  font-size: 18px;
}

.description {
  font-size: 18px;
  color: grey;
}

.status {
  font-size: 16px;
  color: grey;
}

.button-container {
  vertical-align: middle;
  display: inline-block;
  margin-left: 120px;
}

.follow {
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(47, 151, 255);
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 18px;
  padding-left: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: box-shadow 0.15s;
}

.follow:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.follow:active {
  opacity: 0.8;
}