div {
  font-family: Arial;
}

.sidebar {
  background-color: green;
  color: white;
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: white;
  border-radius: 15px;
  width: 400px;
  padding: 30px;
}

.modal-title {
  font-size: 32px;
  font-weight: bold;
}

.modal-message {
  font-size: 22px;
  margin-top: 20px;
}

.modal-close-btn {
  font-size: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
  margin-top: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.modal-close-btn:active {
  opacity: 0.8;
}