.apply {
  font-size: 20px;
  font-weight: bold;
  color: white;
  height: 50px;
  width: 320px;
  background-color: rgb(10, 102, 194);
  border-radius: 25px;
  border: none;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.save {
  font-size: 20px;
  font-weight: bold;
  color: rgb(10, 102, 194);
  height: 50px;
  width: 120px;
  background-color: white;
  border-color: rgb(10, 102, 194);
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
}