@media (max-width: 600px) {
    .home-cta-btn {
        padding: 13px 14px 12px 14px;
        font-size: 16px;
        line-height: 1;
    }

    .home-links-container {
        width: 70%;
        align-items: center;
        justify-content: center;
    }

    .home-hero {
        flex-direction: column-reverse;
    }

    .home-image1 {
        width: 100%;
    }

    .home-hero-text-container {
        width: 100%;
        margin: 0;
        align-items: center;
    }

    .home-cta-btn2 {
        width: 180px;
        align-self: auto;
    }

    .home-features {
        height: auto;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
        align-items: center;;
    }

    .home-feature-card, .home-feature-card1, .home-feature-card2 {
        align-self: auto;
        width: 100%;
    }

    .home-image2, .home-image3, .home-image4 {
        width: 65%;
    }

    .home-text05, .home-text06, .home-text07 {
        font-size: 16px;
    }

    .home-stats {
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }
}