body {
  background-color: rgb(240, 240, 240);
  height: 1200px;

  font-family: Roboto, Arial;
  padding-top: 60px;
  padding-left: 420px;
  padding-right: 450px;
}

@media (max-width: 1000px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1001px) and (max-width: 1250px) {
  body {
    padding-left: 150px;
    padding-right: 140px;
  }
}

@media (min-width: 1251px) and (max-width: 1450px) {
  body {
    padding-left: 230px;
    padding-right: 230px;
  }
}

@media (min-width: 1451px) and (max-width: 1600px) {
  body {
    padding-left: 300px;
    padding-right: 300px;
  }
}