.highlights {
  display: flex;
  column-gap: 40px;
  margin-top: 50px;
  margin-left: 100px;
}

.highlight-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.highlight-container img {
  height: 77px;
  padding: 2px;
  border-radius: 50px;
  border: 1px solid rgb(210, 210, 210);
  cursor: pointer;
}

.highlight-container img:active {
  opacity: 0.6;
}

.highlight-container div {
  margin-left: 30px;
}

@media (max-width: 1000px) {
  .highlights {
    margin-left: 50px;
  }
}