.publications-type {
  display: flex;
  column-gap: 60px;
  border-top: 1px solid rgb(210, 210, 210);
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}

.publications-type div {
  display: flex;
  column-gap: 8px;
  font-size: 14px;
}

.publications-type img {
  height: 18px;
  align-items: center;
  justify-content: center;
}

.posts-icon {
  border-top: 1px solid black;
  padding-top: 14px;
}

.saved-icon,
.tagged-icon {
  padding-top: 15px;
  color: rgb(160, 160, 160);
}

.posts-icon,
.saved-icon,
.tagged-icon {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.posts-icon:active,
.saved-icon:active,
.tagged-icon:active {
  opacity: 0.6;
}

.posts img {
  height: 293px;
  width: 293px;
  object-fit: cover;
  margin-left: 30px;
  cursor: pointer;
}

.posts img:hover {
  -webkit-filter: brightness(75%);
}